* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
}

.to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #29ca8e;
    display: flex;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    z-index: 2;
}
.to-top .anchor {
    color: white;
}
p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #575757;
}
a:link, a:visited {
    text-decoration: none;
    color: #575757;
    display: block;
    height: 50px;
    width: 100%;
}
/*SVE U VEZI NAVIGACIJE*/
header .wrap-header {
    display: flex;
    flex-direction: column;
    border-top: 5px solid #29ca8e;
}

.wrap-header .logo {
    height: 60px;
    display: flex;
}

.logo .known {
    padding-left: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #252020;
    height: 60px;
    line-height: 60px;
    width: 500px;
    flex: 5;
}
.logo .drop-down-menu {
   flex: 1;
   text-align: center;
   line-height: 60px;
   font-size: 1.5em;
}
.logo a:hover {
    color: #29ca8e;
    transition: 1s;
}
.nav {
    display: none;
    /*display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;*/
    
}
.nav .nav-element {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;

}
.nav .nav-element:hover {
    background-color:#29ca8e;
    transition: 1s;
}
.nav-element a:hover {
    color: white;
    transition: 1s;
}
/*ZA SKRIVANJE FUNKCIJA*/
@media screen and (max-width: 768px) { /*OGRANICITI NA ODREDJENI MEDIA QUERI!!!!!!!!!!*/
    .prikazan-nav {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        position: absolute;
        height: auto;
        z-index: 100;
        background-color: white;
        top: 60px;
        /*display: none;*/
        animation: proba .5s linear;
        height: 0px;
        opacity: 0;
        animation-fill-mode: forwards;
    }
}
@keyframes proba {
    100% {
        height: 300px;
        opacity: 1;
    }
}
/*SVE U VEZI SLIDERA*/
.slider-holder {
    overflow: hidden;
    position: relative;
    margin: 0px;
    max-height: 500px;
    z-index: 6;
}
.slider-holder .dugme-desno{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 50px;
    color: wheat;
    font-size: 1.5em;
    z-index: 7;
    background-color: black;
}
.slider-holder .dugme-levo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 50px;
    color: wheat;
    font-size: 1.5em;
    z-index: 7;
    background-color: black;
}
.picture-text{
    position: relative;
    width: 400%;
    margin: 0px;
    left: 0px;
    /*animation: 20s slide infinite;*/
}

.background-picture {
    width: 25%;
    float: left;
    filter: brightness(65%);
}
/*@keyframes slide {
    0% {left: 0px;}
    20% {left: 0px;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: initial}
}*/

.text-slider, .active{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0px;
    margin: auto;
    padding: 20px;
    padding-right: 0px;
    padding-left: 80px;
    top: 15vw;
    width: 70vw;
    z-index: 1;
}
.text-slider h3 {
    color: #f0f0f0;
    margin-top: 0px;
    width: 100%;
    font-size: 1.2em;
}
.text-slider p {
    text-align: left;
    color: #f0f0f0;
    width: 100%;
    font-size: 1.0em;
}
.text-slider a {
    justify-content: flex-start;
    height: 7vw;
    max-width: 18vw;
    border-radius: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    text-align: center;
    margin-top: 5vw;
    font-size: 0.8em;
}
.text-slider a:hover {
    color: white;
    background-color: #29ca8e;
    border: 1px solid #29ca8e;
    transition: 1s;
}
/*SVE U VEZI TOP-OFFERS*/
.top-offers {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 900px;
    margin-bottom: 30px;
    padding-top: 30px;
}
.top-offers .top-offers-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #f0f0f0;
    margin: 0px 15px 40px 15px;
    background-color: white;
    height: calc(100% / 3);
    padding: 0 10%;
}
.top-offers-item .offers-item-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f51b5;
    font-size: 28px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
/*SVE U VEZI SIGN-UP U*/
/*Deo sign-upa sa tekstom*/
.signup-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 50px;
}
.signup-container .form-description {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   margin: 30px 0px;
}
.form-description h2 {
   width: 100%;
   margin: 0px;
   margin-bottom: 20px;
}
.form-description .description-container {
    display: block;
    height: 100px;
    width: 100%;
    margin: 20px;
    margin-top: 10px;
}
.description-container .widget {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #29ca8e;
    float: left;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    padding-bottom: 20px;
}
.widget {
    color: white;
    font-size: 1.5em;  
}
.description-container h3{
    margin: 0px;
}
/*Sama sign-up forma za prijavu*/
.signup-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
}
.signup-background .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252020;
    width: 80vw;
    height: 80vw;
    max-width: 450px;
    max-height: 450px;
    min-width: 360px;
    min-height: 360px;
    border-radius: 50%;
    margin: auto;
}
.signup-form h3 {
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 1.8em;
}
.signup-form form {
    display: flex;
    flex-direction: column;
    color: white;
    width: 65%;
}
form input {
    margin-bottom: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #575757;
    width: 100%;
    color: white;
    padding-bottom: 10px;
}
form .submit {
    display: block;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 15px;
    background: initial;
    border: initial;
    outline: initial;
    background-color: white;
    color: #575757;
    width: 50%;
    border-radius: 23px;
    cursor: pointer;
}
form .submit:hover {
   background-color: #29ca8e;
   color: white;
   transition: 1s;
}
/*ALL ABOUT TEACHERS*/
.teachers-container-background {
    background-color: #f9f9f9;
    margin: 40px 0px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teachers-container-background h3{
    margin-bottom: 0px; 
    font-size: 1.6em;
    margin-top: 30px;
}
.teachers-container-background p {
    margin-bottom: 10px;
}
.teachers-container-background .teachers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 90vw;
}
.teachers-container .one-teacher {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 30px;
}
 /*this is part about teachers pictures only, skipping one wrap*/
.teacher-picture .mark, .catherine, .jessie-ca, .andrew-berti{
    width: 100%;
}
.one-teacher > h4, .teacher-skills, .content-awsome{
    padding-left: 40px;
}
.one-teacher .teacher-skills {
    margin-bottom: 30px;
}
.one-teacher h4{
    font-size: 1.4em;
    margin-bottom: 0px;
}
.one-teacher p{
    font-size: 1em;
    margin-bottom: 60px;
}
.content-awsome {
    display: flex;
    flex-direction: row;
    border-top: 3px solid #f9f9f9;
    display: block;
    font-size: 1.2em;
    color: rgb(92, 92, 92);
    padding: 10px 0px;
    padding-left: 20px;
}
.content-awsome .anchor-awsome{
    display: inline-block;
    object-fit: contain;
    width: 50px;
    height: 50px;
    margin: 0px;
    color: black;
    text-align: center;
    line-height: 50px;
}
.content-awsome .anchor-awsome:hover{
    color: white;
    background-color: #29ca8e;
    border-radius: 50%;
    transition: 1s;
}
/*ALL ABOUT COURSES*/
.courses-container {
    text-align: center;
    margin-top: 30px;
    height: auto;
}
.courses-container h3 {
    margin-bottom: 0px;
    font-size: 1.5em;
}
.courses-container .main-paragprah {
    margin-bottom: 30px;
}
.courses-container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.courses-container-items .one-course {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    background-color: #f9f9f9;
    margin-bottom: 30px;
}
.one-course h4{
    margin-bottom: 0px;
    padding-left: 20px;
}
.one-course p{
    text-align: left;
    padding-left: 20px;
}
.one-course .course-pictures {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
/*Course picture + text above it*/
.course-pictures .course-1, .course-2, .course-3, .course-4 {
    width: 90vw;
}
.course-pictures .calendar-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}
.calendar-container a, .numbers {
    padding: 0px;
    line-height: 40px;
    color: white;
}
.calendar-container .numbers {
    padding: 0px 5px;
    font-size: 14px;
}
/*Part about teachers*/
.select-teacher {
    position: relative;
    margin-top: 10px;
    border-top: 1px solid #575757;
    display: flex;
    width: 100%;
    height: 100px;
    padding: 20px;
}
.select-teacher .teacher-1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.select-teacher p{
    line-height: 60px;
    color: black;
    font-weight: bold;
}
.select-teacher .teacher-price {
    position: absolute;
    right: 20px;
    bottom: 30px;
    line-height: 40px;
    height: 40px;
    width: 60px;
    background-color: #3f51b5;
    border-radius: 2px;
    color: white;
}
/*ALL ABOUT STUDENT REVIEWS*/
.reviews-container {
    background-color: #f9f9f9;
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews-container h3 {
    margin-bottom: 0px;
    font-size: 1.5em;
    text-align: center;
    margin-top: 60px;
}
.reviews-container p {
    margin-bottom: 30px;
    text-align: center;
}
.one-student {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    background-color: white;
    margin: 15px;
}
/*Just student with his picture, name and ocupation*/
.one-student .picture-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    height: 80px;
}
.picture-text .picture-1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-self: stretch;
    flex: 1;
}
.picture-text h4{
    margin-bottom: 0px;
    margin-left: 15px;
    flex: 1;
}
.picture-text .review-small-font {
    font-size: 12px;
    margin-left: 15px;
    width: 100px;
    flex: 1;
}
/*here starts rest of the flex*/
.one-student .student-comment {
    margin-top: 15px;
    text-align: start;
}
.one-student .stars {
    margin-top: 15px;
    color: #3f51b5;
}
/*ALL ABOUT ASIDE*/
aside {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #3f51b5;
    padding: 30px 0px;
}
aside h3 {
    color: white;
    margin-bottom: 0px;
}
aside p {
    color: white;
}
aside .aside-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #3f51b5;
    width: 100%;
    padding: 20px;
}
.aside-wrap .footer-paragraph {
    color: white;
    margin-bottom: 30px;
}
/*part about the form in aside*/
.aside-wrap .whole-form {
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.whole-form form {
    height: auto;
}
.whole-form h3 {
    font-size: 1.5em;
}
.whole-form p{
    font-size: 1.2em;
    font-weight: lighter;
}
form .text-form {
    height: 60px;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 15px;
}
form .email-form {
    height: 60px;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 15px;
}
form textarea{
    resize: none;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
}
form .submit-form {
    height: 60px;
    background-color: white;
    border-radius: 30px;
    color: #575757;
    cursor: pointer;
    line-height: 60px;
}
form .submit-form:hover {
    background-color: #3f51b5;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    transition: 1s;
}
/*aside picture only css*/
aside .aside-picture {
    display: flex;
    justify-content: center;
}
.aside-picture img {
    width: 90vw;
}
/*ALL ABOUT FOOTER*/
footer {
    background-color: #252020;
}
.footer-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    width: 90vw;
    margin: auto;
    padding: 15px 0px;
    height: auto;
}
.footer-wrap .footer-element {
    padding-bottom: 20px;
}
.footer-element .telephone-wrap {
    display: flex;
    font-size: 14px;
}
.telephone-wrap a{
    width: 100px;
    height: 20px;
}
.footer-element h4 {
    margin-bottom: 10px;
}
/*about font awsome links*/
.links-social {
    display: flex;
    height: 30px;
    width: 40%;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}
.links-social a {
    color: #29ca8e;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
}
.links-social a:hover {
    color: white;
    background-color: #29ca8e;
    border-radius: 15px;
    transition: 1s;
}
/*about quick links*/
.links-proffesion {
    display: flex;
    flex-wrap: wrap;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.links-proffesion a{
    width: auto;
    margin-right: 10%;
    font-size: 13px;
}
.links-proffesion a:hover{
    color: white;
}
/*about form inside the footer*/
.form-footer .email-footer {
    margin: 20px 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.form-footer .submit {
    margin: 10px 0px;
    background-color: #252020;
    border: 1px solid white;
    width: 140px;
    color: white;
}
.form-footer .submit:hover {
    background-color: #29ca8e;
    border: 1px solid #29ca8e;
    transition: 1s;
}
.footer-element .smaller-font-footer {
    display: inline-block;
    padding-top: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}
.footer-element .smaller-font-footer:hover {
    color: white;

}

@media screen and (min-width: 768px) {
    /*HEADER AT MIN 768*/
    header {
        border-top: 5px solid #29ca8e;
    }
    header .wrap-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 0px;
        height: auto;
        margin: auto;
        width: 90vw;
        border-top: 0px;
    }
    .wrap-header .logo {
        width: 13vw;
        height: 85px;
    }
    .logo .drop-down-menu  {
        display: none;
     }
    .logo .known {
        padding: 0px;
        line-height: 85px;
        font-size: 1.5em;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0px;
        width: 70vw;
        font-size: .9em;
    }
    .nav .nav-element {
        width: 100%;
        height: 85px;
        line-height: 85px;
    }
    .nav a {
        width: 100%;
        height: 85px;
        line-height: 85px;
    }
    /*SLIDER AT MIN 768*/
    .picture-text .text-slider {
        padding-left: 5vw;
        margin: 0px;
        top: 100px;
    }
    .text-slider h3 {
        color: white;
        margin-top: 0px;
        width: 100%;
        font-size: 2em;
    }
    .text-slider p {
        text-align: left;
        color: white;
        width: 100%;
        font-size: 1.5em;
    }
    .text-slider a {
        font-size: 1.1em;
    }
    
    /*TOP-OFFERS AT MIN 768*/
    .top-offers {
        flex-direction: row;
        justify-content: space-between;
        width: 90vw;
        height: 400px;
        margin: 0px;
        padding: 0px;
        margin: auto;
        padding-top: 30px;
    }
    .top-offers .top-offers-item{
        width: 31.5%;
        margin: 0px;
        padding: 5% 30px;
        justify-content: flex-start;
        height: 300px;
    }
    /*WHOLE FORM AT MIN 768*/
    /*form part with text @768*/
    .signup-container {
        width: 90vw;
        margin: auto;
        padding: 0px;
    }
    .signup-container .form-description {
        align-items: flex-start;
        margin-bottom: 0px;
    }
    .form-description .description-container {
        font-size: 1.5vw;
        width: 60vw;
    }
    /*just the form @768*/
    .signup-container .signup-form {
        margin: auto;
    }
    .signup-form h3 {
        font-size: 1.8em;
    }
    .signup-form form {
        width: 280px;
    }
    form input{
        height: 45px;
        padding: 5px;
        font-size: 0.9em;
        margin-bottom: 20px;
    }
    .form-description .description-container {
        font-size: 1.1em;
    }
    /*TEACHERS AT MIN 768*/
    .teachers-container-background .teachers-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90vw;
        height: auto;
        margin: 0px;
        background-color: #f9f9f9;
    }
    .teachers-container .one-teacher {
        width: 48%;
        margin-top: 30px;
    }
     /*COURSES AT MIN 768*/
     .courses-container-items .one-course {
         background-color: #f9f9f9;
     }
     /*STUDENTS AT MIN 768*/
     .one-student {
         margin: auto;
         margin-bottom: 20px;
         width: 90vw;
     }
     /*ASIDE AT MIN 768*/
     .aside-picture img{
         max-width: 992px;
     }
     .aside-wrap .whole-form {
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: auto;
        align-items: flex-start;
    }
    .whole-form form {
        flex: 1;
    }
    form .text-form, .email-form {
        padding-top: 0px;
    }
    form .submit-form {
        line-height: 40px; 
    }
     /*FOOTER AT MIN 768*/
     .footer-wrap {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 50px;
     }
     .footer-wrap .footer-element {
        margin-right: 0px;
        width: 50%;
        margin-right: 0px;
     }
     .footer-element .form-footer{
         width: 90vw;
     }
     .form-footer .submit {
         width: 45%;
     }
     .links-proffesion a{
        height: 35px;
    }
}
@media screen and (min-width: 992px) {
    header {
        border-top: 5px solid #29ca8e;
    }
    header .wrap-header {
        width: 80vw;
        margin: 0px;
        border-top: 0px;
        margin: auto;
    }
    .wrap-header .logo {
        text-align: start;
        width: 10vw;
    }
    .logo .known {
        width: 100px;
        height: 85px;
        padding: 0px;
        line-height: 85px;
    }
    .wrap-header .nav {
        width: 70vw;
    }
    .nav-element {
        font-size: 1.1em;
    }
    /*ALL ABOUT SLIDER @992*/
    .picture-text .text-slider {
        padding: 0px;
        margin: 0px;
        padding-left: 10vw;
        top: 100px;
    }
    .text-slider a {
        font-size: 1.2em;
    }
    /*ALL ABOUT TOP OFFERS @992*/
    .top-offers {
        width: 80vw;
        margin: auto;
        height: 400px;
    }
    .top-offers .top-offers-item {
        margin: 0px;
        margin-right: 20px;
    }
     #last-margin {
        margin-right: 0px;
    }
    /*SIGNUP AT 992px*/
    .signup-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80vw;
        margin: auto;
        padding: 0px;
        margin-top: 30px;
    }
    .signup-container .form-description {
        display: flex;
        width: 60%;
        font-size: 1em !important;
    }
    .signup-form h3 {
        font-size: 1.8em;
    }
    form input {
        font-size: 0.9em;
    }
    .description-container{
        width: 30vw !important;
        font-size: 1em;
    }
    .signup-background .signup-form {
        margin-right: 0px;
    }
    .form-description .widget {
        width: 2em;
        height: 2em;
        line-height: 2em;
    }
    /*TEACHER AT 992px*/
    .teachers-container {
        width: 80vw !important;
    }
    .teachers-container .one-teacher{
        width: 23%;
    }
    .one-teacher h4 {
        font-size: 1em;
        padding-left: 20px;
    }
    .one-teacher p {
        font-size: .8em;
        padding-left: 20px;
    }
    .one-teacher .content-awsome {
        font-size: 1em;
        padding-left: 10px;
        padding-right: 20px;
        display: flex;
        justify-content: space-around;
    }
    .content-awsome .anchor-awsome{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    /*COURSES AT 992px*/
    .courses-container-items  {
        width: 80vw;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
    }
    .courses-container-items .one-course{
        width: 32%;
    }
    .one-course .course-pictures {
        width: 100%;
    }
    .course-pictures .course-1{
        width: 100%;
    }
    /*STUDENT REVIEWS AT 992px*/
    .reviews-container-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80vw;
    }
    .one-student {
        width: 32% !important;
        margin: 0px;
    }
    /*ASIDE AT 992px*/
    aside {
        padding-bottom: 50px;
    }
    aside h3 {
        margin-top: 0px;
    }
    aside .aside-wrap {
        flex-direction: row;
        width: 80vw;
        justify-content: center;
        margin: auto;
        padding: 0px;
        padding-top: 30px;
    }
    /*part about the form in aside @992*/
    .aside-wrap .whole-form {
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;
        padding-right: 20px;
    }
    .whole-form form {
        text-align: start;
    }
    form .submit-form {
        width: 50%;
        line-height: 50px;
    }
    /*aside picture only css @992*/
    aside .aside-picture {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .aside-picture img {
        width: 40vw;
        height: 35vw;
    }
    /*FOOTER AT 992px*/
    .footer-wrap {
        width: 80vw;
        flex-direction: row;
        padding-bottom: 30px;
    }
    .footer-wrap .footer-element{
        width: 31%;
    }
    .links-social {
        margin-top: 4vw;
    }
    .footer-element .form-footer {
        width: 100%;
    }
    .links-proffesion a{
        margin-right: 10px;
    }
    .submit {
        line-height: 12px;
    }
}